*,
*::before,
*::after {
   box-sizing: border-box;
}

::selection {
   background-color: white;
   color: black;
}

html,
body {
   min-height: 100%;
   margin: 0;
   padding: 0;
}

body {
   background-image: linear-gradient(to bottom, #0b0b0d, #131316);
   color: white;
   line-height: 1.6;
   font-size: 1.1rem;
   font-family: 'Comfortaa Variable', sans-serif;
   text-shadow: 0 0 5px rgba(255, 255, 255, 0.741);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100%;
   z-index: 1;
}
