---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Thiago Fukuyama - Web Developer">
   <main>
      <div class="hero">
         <h1 class="main-title">Thiago Fukuyama</h1>
         <p class="subheading">&lt;Web Developer /&gt;</p>
         <div class="hero__buttons">
            <a class="button" href="/sobre-mim">Conheça-me</a>
            <a class="button" href="/Thiago-Fukuyama-CV.pdf" download>
               Currículo
            </a>
         </div>
      </div>
   </main>
</Layout>

<style>
   main {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      z-index: 1;
   }

   .hero {
      text-align: center;
      padding-bottom: 4rem;
   }

   .main-title {
      font-size: 4rem;
      margin: 0;
      margin-bottom: 1rem;
      animation: glow-text 2s infinite alternate;
      animation-timing-function: ease;
      letter-spacing: 1px;
      word-spacing: 5px;
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.741);
      font-weight: 300;
   }

   .subheading {
      font-size: 1.5rem;
      text-shadow: 0 0 4px rgba(255, 255, 255, 0.741);
      color: rgba(255, 255, 255, 0.888);
      letter-spacing: 1px;
   }

   .hero__buttons {
      margin-top: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
   }

   .button {
      --_transition-timing-function: cubic-bezier(0.61, 0.2, 0.19, 0.97);
      --_box-shadow-color: rgba(255, 255, 255);
      position: relative;
      overflow: hidden;
      text-align: center;
      padding: 0.5rem 1rem;
      background-color: transparent;
      outline: transparent;
      box-shadow:
         0 0 2px var(--_box-shadow-color),
         0 0 6px var(--_box-shadow-color);
      color: white;
      width: 155px;
      border-radius: 100vw;
      z-index: 1;
      transition: 400ms var(--_transition-timing-function);
   }

   .button:hover,
   .button:focus {
      color: black;
      box-shadow: 0 0 10px var(--_box-shadow-color);
   }

   .button::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: -1;
      transform: translate(-100%, -100%);
      transition: 400ms var(--_transition-timing-function);
   }

   .button:hover::before,
   .button:focus::before {
      transform: translate(0, 0);
   }
</style>
