---
import Particles from "astro-particles"
import { starryOptions } from "../data/particlesOptions"
import "@fontsource-variable/comfortaa"

import Navbar from "../components/Navbar.astro"
import "../styles/global.css"

interface Props {
   title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Astro description" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
   </head>
   <body>
      <Navbar />

      <main>
         <slot />
      </main>
      
      <Particles
         id="tsparticles"
         options={starryOptions}
         init="particlesInit"
      />
   </body><script>
      import { type Engine } from "tsparticles-engine"
      import { loadFull } from "tsparticles"

      // @ts-ignore
      window.particlesInit = async function (engine: Engine) {
         await loadFull(engine)
      }
   </script>
</html>
